/* Cores da página 
.Fundo { color: #2A8C82; }
.Texto { color: #41BFB3; }
.Título { color: #9BF2EA; }
.Backround { color: #260101; } */

html{
    background: #260101;
    color: #41BFB3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.intro{
    height: 550px;
}

.page-wrapper{
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 1200px;
}


.explanation{
    width: 60%;
    border-right: #2A8C82 solid 1px;
    padding: 3%;
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: #2A8C82 solid 1px;
}

.main footer{
    margin: 4%;
}

.main footer a{
    border: solid 2px;
    padding: 0.5em;
    display:inline-block;
}


#design-archives{
    display: none;
}

header{
    display: flex;
    justify-content:space-around;
    background-color:#2A8C82;
    color: #260101; 
}

a{
    color: #9BF2EA;
}

a:hover{
    color:#2A8C82;
}


footer a{   
    text-decoration: none;
}

.supporting footer{
    display: flex;
    justify-content: space-evenly;
}

.benefits{
    display: flex;
    border-top: #2A8C82 solid 1px;
    border-bottom: #2A8C82 solid 1px;
}

.benefits h3{
    order: 2;
    align-self: center;
    flex-basis: 30%;
}

.benefits p{
    flex-basis: 70%;
}


.participation{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-top: #2A8C82 solid 1px;
}

.participation p, .participation h3{
    flex-basis: 48%;
    padding-right: 24px;
}

.participation h3{
    align-self: center;
}

h1,h2,h3{
    color: #9BF2EA;
}

h1{font-size: 1.8em; line-height: 1em}
h2{font-size: 1.4em; position: relative; top: 10px;}
h3{font-size: 1.2em; text-align: center;}

.summary{
    display: inline;
    position: relative;
}

.summary p{
    text-align: center;
}

p{
    text-indent: 1em;
    text-align: justify;
}

main p{
    line-height: 1.5;
}

.main p:first-of-type::first-letter{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}


abbr{
    font-variant: small-caps;
}


aside ul{
    list-style: none;
}

aside ul li{
    margin: 1em;
    text-align: center;
}

#design-selection{
    margin: 0px;
    position: absolute;
    top: 550px;
    left: 65%;
    padding-right: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #2A8C82;
}

#design-selection a{
    color: #260101;
}

#design-selection li{
    border-top:#260101 solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#design-selection li:last-child{
    border-bottom:#260101 solid 1px;
}